server:
  port: 4550

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  config:
    import: "optional:configtree:/mnt/secrets/lau/"
  application:
    name: Case Log and Audit
  datasource:
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://${LAU_DB_HOST:localhost}:${LAU_DB_PORT:5432}/${LAU_DB_NAME:lau_case}${LAU_DB_CONN_OPTIONS:}
    username: ${LAU_DB_USERNAME:lauuser}
    password: ${LAU_DB_PASSWORD:}
    properties:
      charSet: UTF-8
    hikari:
      maximumPoolSize: 5
      poolName: LAUCaseHikariCP
      connectionTimeout: 60000
      data-source-properties:
        socketTimeout: 60
  #    tomcat:
  #      max-active: 10
  #      max-idle: 10
  #      min-idle: 2
  #      max-wait: 10000
  #      test-on-borrow: true
  #      test-on-connect: true
  #      test-on-idle: true
  #      validation-query: "SELECT 1"
  #      time-between-eviction-runs-millis: 10000
  #      test-while-idle: true
  #      test-on-return: true
  #      remove-abandoned: true
  #      remove-abandoned-timeout: 60
  #      log-abandoned: true
  #      abandon-when-percentage-full: 0
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        session_factory:
          statement_inspector: uk.gov.hmcts.reform.laubackend.cases.repository.helpers.SqlCountStatementInterceptor
        jdbc:
          lob:
            # silence the 'wall-of-text' - unnecessary exception throw about blob types
            non_contextual_creation: true
  flyway:
    enabled: ${LAU_FLYWAY_MIGRATE_DB:false}
    user: ${LAU_DB_ADMIN_USERNAME:lauadmin}
    password: ${LAU_DB_ADMIN_PASSWORD:}
    placeholders:
      LAU_DB_PASSWORD: ${LAU_DB_PASSWORD:}

idam:
  s2s-auth:
    url: ${S2S_URL:http://localhost:4502}
  api:
    url: ${IDAM_API_URL:http://localhost:5000}
  client:
    id: ${IDAM_CLIENT_NAME:lau}
    secret: ${IDAM_CLIENT_SECRET:12345678}
    redirect_uri: ${IDAM_CLIENT_REDIRECT_URI:http://localhost:3451/oauth2redirect}

authorised.services: lau_frontend,ccd_data,ccd_case_disposer
authorised.roles: cft-audit-investigator,cft-service-logs
db.allow.delete.record: ${DB_ALLOW_DELETE_RECORD:true}

azure:
  application-insights:
    instrumentation-key: ${lau.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

flyway:
  noop:
    strategy: "false"

default.page.size: ${LAU_PAGE_SIZE_DEFAULT:10000}

springdoc:
  swagger-ui:
    path: "/swagger-ui.html"
  api-docs:
    path: /v2/api-docs
  packagesToScan: uk.gov.hmcts.reform.laubackend.cases.controllers
  pathsToMatch: /**
